:host {
  display: block;
  min-height: 100vh;
  background-color: var(--background-color-gray);
}

.navigation-pill-list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  position: relative;
}

.navigation-pill-list .navigation-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--size-radius-200);
}

.navigation-pill-list .title {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.navigation-pill-list .title-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-brand-tertiary);
  border-radius: var(--size-radius-200);
}

.navigation-pill-list .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand-secondary);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 438px;
  height: 204px;
  align-items: flex-start;
  gap: var(--size-space-600);
  padding: var(--size-space-600);
  position: relative;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.card .info {
  position: relative;
  width: 32px;
  height: 32px;
}

.card .body {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  align-items: flex-start;
  gap: var(--size-space-400);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.card .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.card .title {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.card .body-text-for {
  position: relative;
  align-self: stretch;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-secondary);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.card .button-group {
  display: flex;
  align-items: center;
  gap: var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.card .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-neutral-tertiary);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-neutral-secondary);
}

.card .text-wrapper {
  all: unset;
  box-sizing: border-box;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font: var(--single-line-body-base-font-weight) var(--single-line-body-base-font-size)
        var(--single-line-body-base-font-family);
  color: var(--color-text-default-default);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
}

.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.card-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

