
<main class="jStokvel-container">
  <header class="jStokvel-header">
    <h1>Your Stokvel Invitations</h1>
  </header>

  <section class="jStokvel-content">
    <div class="jStokvel-list">
      <div *ngIf="loading" class="loading-text">
        Loading your invitations...
      </div>

      <div *ngIf="!loading && stokvelsJ.length > 0">
        <div class="stokvel-cards">
          <div class="stokvel-card" *ngFor="let stokvel of stokvelsJ">
            <h2>{{ stokvel.name }}</h2>
            <button (click)="viewDetails(stokvel.id)">View Details</button>
          </div>
        </div>
      </div>

      <div *ngIf="!loading && stokvelsJ.length === 0" class="empty-text">
        No Invitations.<br />
        Create a stokvel community.
      </div>
    </div>
  </section>

  <div *ngIf="showPopup" class="stokvel-popup">
    <div class="popup-content">
      <h2>{{indStokvel?.name}}</h2>
        <p><strong>Type:</strong> {{indStokvel?.type }}</p>
        <p><strong>Amount:</strong> {{indStokvel?.amount | currency:'ZAR' }}</p>
        <p><strong>Payout Period:</strong> {{ indStokvel?.period }}</p>
        <p><strong>Start Date:</strong> {{ indStokvel?.date | date }}</p>

      <div class="popup-buttons">
        <button (click)="acceptStokvel()">Accept</button>
        <button (click)="rejectStokvel()">Reject</button>
        <button (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</main>
