
<main class="jStokvel-container">
  <header class="jStokvel-header">
    <h1>Your Stokvel Invitations</h1>
  </header>

  <section class="jStokvel-content">
    <div class="jStokvel-list">
      <div *ngIf="loading" class="loading-text">
        Loading your invitations...
      </div>

      <div *ngIf="!loading && stokvelsJ.length > 0">
        <div class="stokvel-cards">
          <div class="stokvel-card" *ngFor="let stokvel of stokvelsJ">
            <h2>{{ stokvel.name }}</h2>
            <button class="detailsButton">View Details</button>
          </div>
        </div>
      </div>

      <div *ngIf="!loading && stokvelsJ.length === 0" class="empty-text">
        No Invitations.<br />
        Create a stokvel community.
      </div>
    </div>
  </section>

</main>
