<section class="join-stokvel-wrapper">
  <img src="assets/images/discovery-logo.png" alt="Discovery Logo" class="discovery-logo" />
  <h1>Your Stokvel Invitations</h1>

  <div *ngIf="loading" class="status-text">Loading your invitations...</div>

  <div *ngIf="!loading && stokvelsJ.length > 0" class="stokvel-invite-grid">
    <div class="stokvel-card" *ngFor="let stokvel of stokvelsJ">
      <h2>{{ stokvel.name }}</h2>
      <button class="create-button" (click)="viewDetails(stokvel.id)">View Details</button>
    </div>
  </div>

  <div *ngIf="!loading && stokvelsJ.length === 0" class="status-text">
    No Invitations.<br />
    Create a stokvel community.
  </div>

  <!-- Pop-up Details -->
  <div *ngIf="showPopup" class="stokvel-popup">
    <div class="popup-content">
      <h2>{{indStokvel?.name}}</h2>
      <p><strong>Type:</strong> {{indStokvel?.type }}</p>
      <p><strong>Amount:</strong> {{indStokvel?.amount | currency:'ZAR' }}</p>
      <p><strong>Payout Period:</strong> {{ indStokvel?.period }}</p>
      <p><strong>Start Date:</strong> {{ indStokvel?.date | date }}</p>

      <div class="button-row">
        <button class="create-button" (click)="acceptStokvel()">Accept</button>
        <button class="create-button" (click)="rejectStokvel()">Reject</button>
        <button class="create-button" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</section>
