/* You can add global styles to this file, and also import other style files */
:root {
  --discovery-purple: #4b0082;
  --discovery-white: #ffffff;
  --discovery-black: #000000;
  --discovery-silver: #c0c0c0;
}
