
<section class="savings-league-wrapper">
  <img src="assets/images/discovery-logo.png" alt="Discovery Logo" class="discovery-logo" />

  <h1>Open Savings Leagues</h1>

  <div class="league-summary">
    <form>
      <label for="goal"><strong>Your Savings Goal (Min R200):</strong></label>
      <input type="number" id="goal" [(ngModel)]="goal" name="goal" required />
    </form>
  </div>


  <div *ngIf="leagues.length > 0; else noLeagues" class="leagues-grid">
    <div class="league-card" *ngFor="let league of leagues">
      <h2>{{ league.name }}</h2>
      <p><strong>Description:</strong> {{ league.description }}</p>
      <p><strong>Status:</strong> {{ league.status }}</p>
      <p><strong>Max Members:</strong> {{ league.maxMembers }}</p>
      <p><strong>Start Date:</strong> {{ league.startDate | date }}</p>
      <p><strong>Due Date:</strong> {{ league.dueDate | date }}</p>
      <a><button class="create-button" routerLink="/savings/indiv-league">View League</button></a>
      

    </div>
  </div>

  <ng-template #noLeagues>
    <p class="status-text">No savings leagues available to join.</p>
  </ng-template>

  <p *ngIf="responseMessage" class="status-text">{{ responseMessage }}</p>
</section>

