<h2>Open Savings Leagues</h2>

<form>
  <label for="goal">Your Savings Goal (Min R200):</label>
  <input type="number" id="goal" [(ngModel)]="goal" name="goal" required />
</form>

<ul *ngIf="leagues.length > 0; else noLeagues">
  <li *ngFor="let league of leagues">
    <strong>{{ league.name }}</strong><br>
    Description: {{ league.description }}<br>
    Status: {{ league.status }}<br>
    Max Members: {{ league.maxMembers }}<br>
    Start Date: {{ league.startDate | date }}<br>
    Due Date: {{ league.dueDate | date }}<br>
    <button (click)="joinLeague(league._id)">Join League</button>
    <hr>
  </li>
</ul>

<ng-template #noLeagues>
  <p>No savings leagues available to join.</p>
</ng-template>

<p *ngIf="responseMessage">{{ responseMessage }}</p>
